@model Quiz2Pweb.Models.Article

@{
    ViewBag.Title = "Details";
}
<style>
    dd {
        word-break: break-all;
    }
    a {
        text-decoration:none;
        color : #ffffff;
    }
    a:visited{
        text-decoration:none;
        color : #ffffff;
    }
    a:hover{
        text-decoration:none;
    }
</style>

<h2>Details</h2>

<div>
    <h4>Article</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReleaseDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Body)
        </dt>

        <dd>
            @*@Html.Raw(@Model.Body.ToString())*@
        </dd>

    </dl>
    <div class="container" style="padding-left:11%;padding-bottom:10%">
        @Html.Raw(@Model.Body.ToString())
    </div>
</div>
<p>
    <div class="btn btn-info"> @Html.ActionLink("Edit", "Edit", new { id = Model.ID })</div>
    &nbsp;
    <a href="/Articles" class="btn btn-info">Kembali</a>
</p>
